@keyframes loadLogo {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.8);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.loading {
  animation: loadLogo 2s ease-in-out infinite both;
}

.loading__container {
  display: flex;
  justify-content: center;
  min-height: 300px;
  align-items: center;
}
